.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span {
        font-weight: 800;
        font-size: 3vw;
    }
    height: 4vw;
}

.link {
    padding: 5px 10px;
    border: 0.2vw black solid;
    font-weight: 800;
    transition: all ease 0.5s;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 15px;
    &:hover {
        background: black;
        color: white;
        box-shadow: rgb(38, 57, 77) 0 0.35vw 0.4vw -0.1vw;
    }
}

@media (max-width: 1000px) {
    .body {
        height: 40px;
        span {
            font-size: 18px;
        }
    }
}