.params {
  display: flex;
  width: 100%;
  background: rgba(126, 120, 120, 0.42);
  border-radius: 1vw;
  margin-top: 1vw;

}

@mixin paramTemplate($color) {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 1vw;
  transition: all ease 0.25s;
  color: $color;
  &:hover {
    background: rgba(86, 83, 83, 0.42);
    box-shadow: black 0 0 0.3vw 0.05vw;
  }
}

.param {
  @include paramTemplate(rgba(0, 0, 0, 0.49))
}


.chosenParam {
  @include paramTemplate(black)
}

@media (max-width: 280px) {
  .param, .chosenParam{
    font-size: 4vw;
  }
}